body {
  width: 60%;
  height: auto;
  margin: auto;
  margin-top: 30px;
}
header {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

/* htmldogsdata that is render throung class.js */
.htmldogsdata {
  position: relative;
  margin-top: 10px;
}
.htmldogsdata img:nth-of-type(1) {
  width: 100%;
  height: 380px;
  border-radius: 5%;
}

.htmldogsdata p {
  position: absolute;
  top: 323px;
  color: white;
  font-weight: bolder;
}

.htmldogsdata span {
  position: absolute;
  top: 313px;
  color: white;
  font-weight: bolder;
}

.button {
  display: flex;
  justify-content: space-around;
}
.button button {
  border-radius: 50%;
  padding: 10px;
  background-color: white;
}
.button span:nth-of-type(2) button:hover {
  background-color: rgb(149, 182, 149);
}
.button span:nth-of-type(1) button:hover {
  background-color: rgb(224, 137, 137);
}

#getlikedimage {
  display: none;
  height: 25%;
  width: 30%;
  position: absolute;
  top: 10px;
  left: 20px;
  transition-duration: 0.4s;
  animation-name: animate-click;
  animation-duration: 1s;
  transform: rotate(-20deg);
}

#getunlikedimage {
  display: none;
  height: 25%;
  width: 30%;
  position: absolute;
  top: 10px;
  left: 150px;
  transition-duration: 0.4s;
  animation-name: animate-click;
  animation-duration: 1s;
  transform: rotate(-20deg);
}

.animate-button:active {
  animation-name: animate-click;
  animation-duration: 1s;
}

@keyframes animate-click {
  0% {
    transform: scale(1);
    background-color: #4caf50;
  }
  25% {
    transform: scale(1.2);
    background-color: #f44336;
  }
  50% {
    transform: scale(0.8);
    background-color: #2196f3;
  }
  75% {
    transform: scale(1.1);
    background-color: #ffc107;
  }
  100% {
    transform: scale(1);
    background-color: #4caf50;
  }
}
